<div id="<%= dom_id drink %>">
    <p>
      <strong>Nom:</strong>
      <%= drink.name %>
    </p>

    <p>
      <strong>Prix:</strong>
      <%= drink.price %>€
    </p>

    <p>
      <strong>Bar:</strong>
      <%= link_to drink.bar %>
    </p>
</div>
