<div id="<%= dom_id drink %>" class="text-center">
    <h1>
      <strong><%= drink.name %></strong>
    </h1>

    <h4>
      <%= drink.price %>€
    </h4>

    <p>
      <%= link_to drink.bar %>
    </p>
</div>
