<% content_for :title, "Editing drink" %>

<h1>Modifier une boisson</h1>

<%= render "form", drink: @drink %>

<br>

<div>
  <%= link_to "Voir cette boisson", @drink %> |
  <%= link_to "Retourner aux boissons", drinks_path %>
</div>
