<% content_for :title, "Modifier le bar" %>

<h1>Modifier un bar</h1>

<%= render "form", bar: @bar %>

<br>

<div>
  <%= link_to "Voir le bar", @bar %> |
  <%= link_to "Retourner voir les bars", bars_path %>
</div>
