<% content_for :title, "Modifier le bar", class:"btn btn-primary" %>

<h1>Modifier un bar</h1>

<%= render "form", bar: @bar %>

<br>

<div>
  <%= link_to "Voir le bar", @bar, class:"btn btn-primary" %> |
  <%= link_to "Retourner voir les bars", bars_path, class:"btn btn-primary" %>
</div>
